@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
    
}

@*<link href="~/wwwroot/CSS/Site.css" rel="stylesheet" />*@
<h1 class="home">Expense Tracker</h1>
@* <img src="~/wwwroot/IMG/expense.jpg" alt="expense" class="bgimg" />*@



